<main class="main">
  <div class="content">
    <h1>💪 PALESTRA ONLINE - Elenco Esercizi 💪</h1>
    <marquee behavior="scroll" direction="left">🏋️ Benvenuto nel tuo programma di allenamento! 🏋️</marquee>

    @if (editMode) {
      <h2> Modalità modifica attiva</h2>

      <h3>Modifica esercizio</h3>

      <label>
        Nome esercizio:
        <input type="text" [(ngModel)]="exerciseToEdit.name" placeholder="Scrivi il nome">
      </label>

      <label>
        Gruppo Muscolare:
        <input type="text" [(ngModel)]="exerciseToEdit.muscleGroup" placeholder="Scrivi il gruppo muscolare">
      </label>

      <label>
        Ripetizioni:
        <input type="number" [(ngModel)]="exerciseToEdit.reps" placeholder="Scrivi le ripetizioni">
      </label>

      <label>
        Serie:
        <input type="number" [(ngModel)]="exerciseToEdit.sets" placeholder="Scrivi la serie">
      </label>

      <label>
        Peso:
        <input type="text" [(ngModel)]="exerciseToEdit.weightKg" placeholder="Scrivi il peso">
      </label>

      <label>
        Note:
        <textarea [(ngModel)]="exerciseToEdit.notes" placeholder="Scrivi una note"></textarea>
      </label>

      <button (click)="saveExercise()">Salva</button>
      <button (click)="cancelEdit()">Elimina</button>
    }
    @else {
    <div class="exercise-list">
      <div class="button-container">
        <button class="btn-insert" (click)="insertExercise()">
          ➕ INSERISCI NUOVO ESERCIZIO
        </button>
      </div>

      @for (item of exercises; track item.id) {
      <div class="exercise-card">
        <h2>⭐ {{ item.name }} ⭐</h2>
        <p><strong>🎯 Gruppo muscolare:</strong> {{ item.muscleGroup }}</p>
        <p><strong>📊 Serie:</strong> {{ item.sets }} | <strong>🔢 Ripetizioni:</strong> {{ item.reps }}</p>
        @if (item.weightKg) {
        <p><strong>💪 Peso (kg):</strong> {{ item.weightKg }}</p>
        }
        @if (item.notes) {
        <p><strong>📝 Note:</strong> {{ item.notes }}</p>
        }
        <div class="button-group">
          <button class="btn-edit" (click)="editExercise(item)">
            ✏️ MODIFICA
          </button>
          <button class="btn-delete" (click)="deleteExercise(item)">
            🗑️ ELIMINA
          </button>
        </div>
      </div>
      }
    </div>
    }
  </div>
</main>

<router-outlet />